.vip_btn { border-radius:100px; padding:6px 10px; font-weight:bold; }
.vip_cell { width:120px; }
.vip_column { width:40px; text-align:center; }
.vip_table_list { max-width:440px; display:block; margin:0 auto; }
.vip_price_cell { width:80px; padding:0 10px; }
.vip_checkbox { width:40px; text-align:center; }
.paypal_btn { background:#009cde; }
.vip_spinner { font-size:70px; }
#vip_spin_box { padding:50px 20px; }